<div id="menu">
    <ul>
        <li><a href="/index">Homepage</a></li>
        <li><a href="/districts">Park By Districts</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>

<%= form_with url: "/search", method: :get do |form| %>
    <%= form.text_field :query, placeholder: "Search parks..." %>
    <%= form.collection_select(
        :district_id,
        District.all,
        :id,
        :district_name,
        {prompt: "All Districts"}
    ) %>
<%= form.submit "Search" %>
<% end %>

<main>
    <h1>Districts</h1>
    <ul class="park_name_list">
    <% @districts.each do |district| %>
        <li>
        <%= link_to district.district_name, district_path(district) %>
        </li>
    <% end %>
    </ul>
</main>
